<head>
  <%= stylesheet_link_tag params[:controller] %>
</head>


<body id="session">
    <div >
        <div class="circle" id = "bls"></div>
    </div>
    <div id="startingMemory" class="has-text-centered">
      <div>
        <span>Please think of a starting memory or thought.</span>
      </div>
      <div>
        <button id="memoryContinue" class="button is-primary">Continue</button>
      </div>
    </div>
    <div class="has-text-centered">
      <p id="breath">Take a deep breath...</p>
      <p id="wanderText">Please allow your mind to wander and your eyes to follow the moving ball.</p>
    </div>
    <div id="finished" class="field has-text-centered">

      <%= form_for :session do |f| %>
        <div class="field has-text-centered">
          <%= f.label :comment, :class => 'label' %>
          <div class="section">
            <%= f.text_area :comment, :id=>"commentbox", :class => "textarea", :placeholder => "Please leave us feedback!" %>
          </div>
        </div>

        <div>
          <%= f.submit "Submit", :id= => "submitButton", :onclick => "showPostSubmitText()", :class => 'button is-primary is-medium'  %>
          <%= link_to 'Restart', session_path(), class:"button info is-medium" %>
        </div>
      <% end %>
    </div>
    <div id="postSubmitText" class="container has-text-centered">
        <span>Thank you for the feedback!</span>
    </div<>


    <%= javascript_include_tag params[:controller] %>
<body>
